<a href="https://colab.research.google.com/github/LEE-SANG-HYUK/Titanic/blob/main/titanic_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import re
import sklearn
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import warnings
warnings.filterwarnings('ignore')

# Going to use these 5 base models for the stacking
from sklearn.ensemble import (RandomForestClassifier, AdaBoostClassifier, 
                              GradientBoostingClassifier, ExtraTreesClassifier)
from sklearn.svm import SVC

In [2]:
train = pd.read_csv("/content/drive/MyDrive/train.csv")
test = pd.read_csv("/content/drive/MyDrive/test.csv")

In [3]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
full_data = [train, test]

In [8]:
titanic = pd.concat([train, test], axis=0).reset_index(drop=True)

1.Age

In [11]:
titanic['Age'] = titanic.groupby(['Pclass', 'Sex'])['Age'].apply(lambda x: x.fillna(x.median()))

In [12]:
titanic['Age'] = pd.cut(titanic['Age'].astype(int), 5)

In [13]:
titanic['Age'].value_counts()

(16.0, 32.0]     752
(32.0, 48.0]     304
(-0.08, 16.0]    134
(48.0, 64.0]     106
(64.0, 80.0]      13
Name: Age, dtype: int64

2.Fare

In [16]:
titanic.loc[titanic['Fare'].isnull()]

      PassengerId  Survived  Pclass  ... Fare Cabin Embarked
1043         1044       NaN       3  ...  NaN   NaN        S

[1 rows x 12 columns]

In [78]:
Thomas = titanic.loc[(titanic['Pclass'] == 3) & (titanic['SibSp'] == 0) & (titanic['Embarked'] == 'S')]['Fare'].median()
print(Thomas)

TypeError: ignored

In [18]:
titanic.loc[titanic['Fare'].isnull(), 'Fare'] = Thomas

In [19]:
titanic['Fare'] = pd.qcut(titanic['Fare'], 5)

In [20]:
titanic['Fare'].value_counts()

(-0.001, 7.854]      275
(21.558, 41.579]     265
(41.579, 512.329]    259
(10.5, 21.558]       255
(7.854, 10.5]        255
Name: Fare, dtype: int64

3.Cabin

In [ ]:
for s in titanic['Cabin']:
  if pd.notnull(s):
    print(s[0])

In [ ]:
print(titanic['Cabin'].unique())

In [25]:
print(titanic['Cabin'].nunique())
print(titanic['Cabin'].isnull().sum())

186
1014

In [71]:
titanic['Deck'] = titanic['Cabin'].apply(lambda s: s[0] if pd.notnull(s) else 'M')

In [82]:
titanic[titanic['Pclass']==1]['Deck'].value_counts()

ABC    249
DE      74
Name: Deck, dtype: int64

In [83]:
titanic[titanic['Pclass']==2]['Deck'].value_counts()

DE    264
FG     13
Name: Deck, dtype: int64

In [84]:
titanic[titanic['Pclass']==3]['Deck'].value_counts()

FG    706
DE      3
Name: Deck, dtype: int64

In [75]:
titanic[titanic['Deck'] == 'T']

     PassengerId  Survived  Pclass  ... Cabin Embarked Deck
339          340       0.0       1  ...     T        S    T

[1 rows x 13 columns]

In [76]:
idx = titanic[titanic['Deck'] == 'T'].index
titanic.loc[idx, 'Deck'] = 'A'

In [77]:
titanic['Deck'] = titanic['Deck'].replace(['A', 'B', 'C'], 'ABC')
titanic['Deck'] = titanic['Deck'].replace(['D', 'E'], 'DE')
titanic['Deck'] = titanic['Deck'].replace(['F', 'G'], 'FG')

titanic['Deck'].value_counts()

M      1014
ABC     182
DE       87
FG       26
Name: Deck, dtype: int64

In [81]:
titanic.loc[(titanic['Pclass']==1) & (titanic['Deck']=='M'), 'Deck'] = 'ABC'
titanic.loc[(titanic['Pclass']==2) & (titanic['Deck']=='M'), 'Deck'] = 'DE'
titanic.loc[(titanic['Pclass']==3) & (titanic['Deck']=='M'), 'Deck'] = 'FG'